<div class="main my-4">
    <div class="container mx-auto footer-parent">
      <div class="child-1">
        <img src="assets/images/easylearn-Logo.png" class="md:mt-8 sm:mt-8" alt="" />
      </div>
      <div class="child-2">
        <span>call us</span>
        <span>9633752203</span>
        <span>58 Howard Street #2 San Francisco</span>
        <span>easylearn@edumall.com</span>
      </div>
      <div class="child-3">
        <span>About us</span>
        <span>Contact us</span>
        <span>courses</span>
        <span>Instructor</span>
      </div>
    </div>
  </div>
  