<div *ngIf="dataSource.isLoading$ | async">Loading...</div>
<table
  mat-table
  matSort
  matSortActive="id"
  matSortDirection="asc"
  matSortDisableClear
  (matSortChange)="sortUsers($event)"
  [dataSource]="dataSource"
  class="users-table"
>
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
      class="users-table-cell"
    >
      ID
    </th>
    <td mat-cell *matCellDef="let element" class="users-table-cell">
      {{ element._id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
      class="users-table-cell"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let element" class="users-table-cell">
      {{ element.firstName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
      class="users-table-cell"
    >
      PhoneNumber
    </th>
    <td mat-cell *matCellDef="let element" class="users-table-cell">
      {{ element.phoneNumber }}
    </td>
  </ng-container>

  <ng-container matColumnDef="isBlock">
    <th
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
      class="users-table-cell"
    >
      IsBlock
    </th>
    <td mat-cell *matCellDef="let element" class="users-table-cell">
      <mat-slide-toggle
        [(ngModel)]="element.isBlock"
        (change)="blockUser(element.isBlock, element)"
      ></mat-slide-toggle>
    </td>
  </ng-container>
  <ng-container matColumnDef="isAdmin">
    <th
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
      class="users-table-cell"
    >
      IsAdmin
    </th>
    <td mat-cell *matCellDef="let element" class="users-table-cell">
      <mat-slide-toggle
        [(ngModel)]="element.isAdmin"
        (change)="changed(element.isAdmin, element)"
      ></mat-slide-toggle>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
