<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div *ngIf="profile_pic; else defualt_Pic">
      <img
        [src]="profile_pic"
        alt="profile_pic"
        class="avatar mat-elevation-z8"
        style="object-fit: cover"
      />
    </div>

    <ng-template #defualt_Pic>
      <img
        class="avatar mat-elevation-z8"
        src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
      />
    </ng-template>
    <label>
      <!-- <mat-icon
        aria-hidden="false"
        aria-label="Example upload icon"
        fontIcon="cloud_upload"
      ></mat-icon> -->
      update Pic

      <input type="file" size="60" (change)="upload($event)" />
    </label>

    <h4 class="name">{{ useName }}</h4>
    <p class="designation">{{ email }}</p>

    <mat-divider></mat-divider>

    <button
      mat-button
      class="menu-button"
      [routerLink]="['add-profile-details']"
    >
      <mat-icon>person</mat-icon>
      <span>Add Profile details</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['cart']">
      <mat-icon>shopping_cart</mat-icon>
      <span>Cart</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['enrolled-courses']">
      <mat-icon>golf_course</mat-icon>
      <span>enrolled-courses</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['mentor-courses']">
      <mat-icon>library_books</mat-icon>
      <span>Mentor Course</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['wishlist']">
      <mat-icon>favorite</mat-icon>
      <span>Wishlist</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
