.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  
  
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-image {
    flex: 1;
    min-width: 300px;
    height: 100%;
    // background-image: url('https://imgs.search.brave.com/X5sQCXvPBXrPJMhtJaka0tZRwDi2Evl2mMwgrrBgs0w/rs:fit:768:768:1/g:ce/aHR0cHM6Ly9iaXpi/ZWhpbmRzcG9ydHMu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzA3L0x1bmFf/UFItNzY4eDc2OC5w/bmc');
    background-image: url('/assets/images/Flat-Illustration-People-are-studying2-Graphics-7187606-1.jpg');
    background-size: cover;
  }
  
  .login-form {
  
    flex: 1;
    min-width: 300px;
    height: 100%;
    padding: 30px;
    // background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  @media screen and (max-width: 768px) {
    .login-container {
      flex-direction: column;
      height: auto;
    }
  
    .login-image,
    .login-form {
      flex: none;
      width: 100%;
    }
    .login-form{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  ion-icon{
    padding-right: 30px;
  }



  