.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;

  div {
    max-width: 250px;

    .cat-img {
      border-radius: 5px;
      object-fit: cover;
      transition: 0.5s all ease-in-out;
    }

    .cat-img:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px 0px rgb(58, 10, 10);
    }
  }
}
