<div class="container mx-auto px-4">
  <mat-tab-group
    class="container"
    mat-stretch-tabs="false"
    mat-align-tabs="end"
  >
    <mat-tab label="All">
      <div class="container categories mt-5">
        <div
          *ngFor="let course of allCourse$"
          class="mb-3"
          (click)="courseDetails(course._id)"
        >
          <div>
            <img
              class="cat-img"
              [src]="course.ThumbnailImage"
              alt=""
              style="width: 250px; object-fit: cover; height: 150px"
            />
          </div>
          <div>
            <span>{{ course.CourseName }}</span
            ><br />
            <span>{{ course.MentorName }}</span>
            <br />
            <span>$ {{ course.Price }}</span>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Trending">
      <ng-container *ngIf="trendingCourses?.length; else newDeb">
        <div class="container categories mt-5">
          <div
            *ngFor="let course of trendingCourses"
            class="mb-3"
            (click)="courseDetails(course._id)"
          >
            <div>
              <img
                class="cat-img"
                [src]="course.ThumbnailImage"
                alt=""
                style="width: 250px; object-fit: cover; height: 150px"
              />
            </div>
            <div>
              <span>{{ course.CourseName }}</span
              ><br />
              <span>{{ course.MentorName }}</span>
              <br />
              <span>$ {{ course.Price }}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #newDeb>
        <app-no-course-found></app-no-course-found>
      </ng-template>
    </mat-tab>

    <mat-tab label="Featured">
      <ng-container *ngIf="featuredCourses?.length; else NOfeaturedCourses">
        <div class="container categories mt-5">
          <div
            *ngFor="let course of featuredCourses"
            class="mb-3"
            (click)="courseDetails(course._id)"
          >
            <div>
              <img
                class="cat-img"
                [src]="course.ThumbnailImage"
                alt=""
                style="width: 250px; object-fit: cover; height: 150px"
              />
            </div>
            <div>
              <span>{{ course.CourseName }}</span
              ><br />
              <span>{{ course.MentorName }}</span>
              <br />
              <span>$ {{ course.Price }}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #NOfeaturedCourses>
        <app-no-course-found></app-no-course-found>
      </ng-template>
    </mat-tab>

    <mat-tab label="Popular">
      <ng-container *ngIf="popularCourses?.length; else noPopular">
        <div class="container categories mt-5">
          <div
            *ngFor="let course of popularCourses"
            class="mb-3"
            (click)="courseDetails(course._id)"
          >
            <div>
              <img
                class="cat-img"
                [src]="course.ThumbnailImage"
                alt=""
                style="width: 250px; object-fit: cover; height: 150px"
              />
            </div>
            <div>
              <span>{{ course.CourseName }}</span
              ><br />
              <span>{{ course.MentorName }}</span>
              <br />
              <span>$ {{ course.Price }}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noPopular>
        <app-no-course-found></app-no-course-found>
      </ng-template>
    </mat-tab>
    <mat-tab label="ML and AI">
      <div class="container categories mt-5">
        <ng-container *ngIf="mL_aiCourses?.length; else noML_course">
          <div
            *ngFor="let course of mL_aiCourses"
            class="mb-3"
            (click)="courseDetails(course._id)"
          >
            <div>
              <img
                class="cat-img"
                [src]="course.ThumbnailImage"
                alt=""
                style="width: 250px; object-fit: cover; height: 150px"
              />
            </div>
            <div>
              <span>{{ course.CourseName }}</span
              ><br />
              <span>{{ course.MentorName }}</span>
              <br />
              <span>$ {{ course.Price }}</span>
            </div>
          </div>
        </ng-container>
        <ng-template #noML_course>
          <app-no-course-found></app-no-course-found>
        </ng-template>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
