.cart {
    // display: flex;
    // align-items: center;
    // width: 100%;
    // justify-content: center;
    // flex-direction: column;
    // gap: 10px;

    .header {
        background-color: #D9D9D9;
    }
}

h4 {
    margin-bottom: 0 !important;
}

.checkout {
    display: flex;
    justify-content: flex-end;


    .card {
        width: 300px;
        height: 150px;
        padding: 10px;
    }
}