<div style="height: 100%">
  <div class="bg-lime-100 main-div">
    <div class="banner container mx-auto px-4 py-5">
      <div class="banner-child-1">
        <h1>{{ course?.CourseName }}</h1>
        <div class="mentor pb-5">
          <img src="/assets/images/home1.jpg" class="" alt="" />
          <span class="px-3"
            ><strong>{{ course?.MentorName }}</strong></span
          ><span class="pr-3">|</span>
          <span>Last Update December 1, 2020</span>
        </div>
        <div class="pt-5">
          <h3>about this course</h3>
          <p>
            {{ course?.CourseDescription }}
          </p>
        </div>
        <div class="courses my-5">
          <h3>What you will learn</h3>

          <div>
            <mat-accordion>
              <mat-expansion-panel
                hideToggle
                class="my-3"
                *ngFor="let crs of course?.VideoModule"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title class="gap-4">
                    <mat-icon>add</mat-icon>Section 1 -{{ crs?.title }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>welcome</p>
                <p>Introduction to Tensor Flow</p>

                <p>Recurrent Neural Network.</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <div class="banner-child-2">
        <mat-card class="example-card">
          <div class="p-3" *ngIf="course.VideoModule[0].video">
            <video width="400" height="280" controls>
              <source [src]="video" type="video/mp4" />
            </video>
          </div>
          <div class="price px-3">
            <h2>{{ course?.Price }}</h2>
            <mat-card class="px-1 text-center" style="height: 30px">
              39% OFF</mat-card
            >
          </div>
          <mat-divider></mat-divider>
          <div>
            <div
              class="px-3 py-2"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="display: flex; align-items: center; gap: 10px">
                <span> <mat-icon> format_indent_increase</mat-icon> </span>
                <span>Level</span>
              </div>
              <div>
                <span>{{ course?.Level }}</span>
              </div>
            </div>
            <mat-divider></mat-divider>

            <div
              class="px-3 py-2"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="display: flex; align-items: center; gap: 10px">
                <span>
                  <mat-icon>access_time</mat-icon>
                </span>
                <span>Duration</span>
              </div>
              <div>
                <span>{{ course?.TotalHr }} hours </span>
              </div>
            </div>
            <mat-divider></mat-divider>

            <div
              class="px-3 py-2"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="display: flex; align-items: center; gap: 10px">
                <span> <mat-icon>play_circle_filled</mat-icon> </span>
                <span>Lectures</span>
              </div>
              <div>
                <span>{{ course?.VideoModule?.length }} lectures </span>
              </div>
            </div>
            <div
              class="px-3 py-2"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="display: flex; align-items: center; gap: 10px">
                <span> <mat-icon>subject</mat-icon> </span>
                <span>Subject</span>
              </div>
              <div>
                <span>Data Modeling</span>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div
              class="px-3 py-2"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div style="display: flex; align-items: center; gap: 10px">
                <span> <mat-icon>language</mat-icon></span>
                <span>Language</span>
              </div>
              <div>
                <span> {{ course?.Language }} </span>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="px-3 py-2">
              <button
                (click)="addToCart()"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
              >
                <span>Add to cart</span>
              </button>
            </div>
            <div class="px-3 py-2">
              <button
                (click)="addToWishlist()"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
              >
                <span>Add to wishlist</span>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
