<div class="p-5" style="height: calc(100vh - 64px); overflow: auto">
  <div class="login-form">
    <form [formGroup]="myForm" class="example-form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Course Name</mat-label>
          <input
            matInput
            formControlName="CourseName"
            placeholder="Ex. Angular Basic"
          />
        </mat-form-field>

        <br />

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>mentorName</mat-label>
          <input
            matInput
            formControlName="MentorName"
            placeholder="Ex. Enter Mentor Name"
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Category</mat-label>
          <mat-select
            [(ngModel)]="selectedValue"
            name="Category"
            formControlName="Category"
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.value"
            >
              {{ category.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Total Hr.</mat-label>
          <input
            matInput
            formControlName="TotalHr"
            placeholder="total  Hr of your course"
          />
        </mat-form-field>

        <br />
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label> Course Description </mat-label>
          <textarea matInput formControlName="CourseDescription"></textarea>
        </mat-form-field>
        <br />

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Level</mat-label>
          <mat-select name="Category" formControlName="Level">
            <mat-option *ngFor="let level of levels" [value]="level.value">
              {{ level.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Language</mat-label>
          <mat-select name="Language" formControlName="Language">
            <mat-option
              *ngFor="let Language of Languages"
              [value]="Language.value"
            >
              {{ Language.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label> Price </mat-label>
          <input matInput formControlName="Price" />
        </mat-form-field>
        <br />

        <div class="custom-file">
          <input
            type="file"
            class="custom-file__input"
            id="field-upload"
            required
            formControlName="ThumbnailImage"
            (change)="upload($event)"
          />
          <label class="custom-file__label" for="field-upload"
            >Choose thumbnailImage</label
          >
        </div>

        <br />

        <ng-container formArrayName="VideoModule">
          <ng-container
            *ngFor="let lessonForm of lessons.controls; let i = index"
          >
            <div [formGroup]="lesForm">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Video title <title></title></mat-label>
                <input
                  matInput
                  formControlName="title"
                  placeholder="Ex. Angular Basic"
                />
              </mat-form-field>

              <br />
              <div class="custom-file">
                <input
                  type="file"
                  required
                  formControlName="video"
                  (change)="uploadVideo($event,i)"
                />
                <!-- <label>Choose file</label> -->
              </div>
              <br />

              <mat-icon class="delete-btn" (click)="deleteLesson(i)">
                delete_forever</mat-icon
              >
            </div>
          </ng-container>
        </ng-container>

        <div>
          <a mat-mini-fab (click)="addLesson()">
            <mat-icon class="add-course-btn">add</mat-icon>
          </a>
        </div>

        <button
          type="submit"
          class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
          mat-dialog-close
        >
          cancel
        </button>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded mx-5"
          mat-dialog-close
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
