<ng-container *ngIf="cartItems; else newDeb">
  <div class="cart">
    <h1>Shopping Cart</h1>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Course</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems.course">
          <td>
            <div class="product">
              <img
                style="width: 100px; height: 70px; object-fit: cover"
                [src]="item.image"
              />
              <div class="product-details"></div>
            </div>
          </td>
          <td>
            <h2>{{ item.courseName }}</h2>
          </td>
          <td>{{ item.price }}</td>
          <td>
            <span (click)="removeCart(item.courseId)"
              ><mat-icon>remove_circle</mat-icon></span
            >
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <h2>Total:</h2>
          </td>
          <td>{{ cartItems.totalPrice }}</td>
        </tr>
      </tfoot>
    </table>
    <div class="container my-5">
      <mat-divider class="my-5"></mat-divider>

      <button
        class="bg-blue-300 hover:bg-blue-500 text-white font-bold py-2 px-4 border border-blue-700 rounded p-3 mt-4"
      >
        Checkout
      </button>
    </div>
  </div>
</ng-container>
<ng-template #newDeb>
  <p>cart is empty</p>
</ng-template>
