<div class="header">
  <div class="imgText">
    <div class="userimg">
      <ng-container *ngIf="receiverDetails?.profile_pic; else noProfile">
      <img [src]="receiverDetails.profile_pic" alt="" class="cover" />

        
      </ng-container>
      <ng-template #noProfile>
      <img src="/assets/images/img1.jpg" alt="" class="cover" />
        
      </ng-template>
    </div>
    <h4>
      {{ receiverDetails?.firstName }} <br /><span>{{
        receiverDetails?.email
      }}</span>
    </h4>
  </div>
  <ul class="nav_icons">
    <li><ion-icon name="search-outline"></ion-icon></li>
    <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
  </ul>
</div>

<!-- CHAT-BOX -->
<div class="chatbox">
  <div *ngFor="let message of getMessages">
    <ng-container *ngIf="message.sender == userId; else newDeb">
      <div class="message my_msg">
        <p>{{ message.message }} <br /><span>{{message.createdAt| date:'shortTime'}}</span></p>
      </div>
    </ng-container>
    <ng-template #newDeb>
      <div class="message friend_msg">
        <p>{{ message.message }} <br /><span>{{message.createdAt| date:'shortTime'}}</span></p>
      </div>
    </ng-template>
  </div>
</div>

<!-- CHAT INPUT -->
<div class="chat_input">
  <ion-icon name="happy-outline"></ion-icon>
  <input type="text" placeholder="Type a message" [(ngModel)]="newMessage" />
  <div (click)="sendMessage()">
    <ion-icon name="send-outline"></ion-icon>
  </div>
</div>
