/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";



.sub-head {
    line-height: 1.2;
    font-weight: 500;
    font-size: 18px
}

p {
    color: rgb(113 113 122);
}






h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 800 !important;
    line-height: 48px !important;
    font-size: 48px !important;
    color: #252525;
    font-style: normal !important;

}



h2 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700 !important;
    // line-height: 48px !important;
    font-size: 18px !important;
    color: #252525;
    font-style: normal !important;

}



.paragraph {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75
}

.sub-head-b {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.75
}

.sub-head-2 {
    font-family: "Montserrat";
    line-height: 1.6;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width: 600px) {


    h1 {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-size: 32px !important;
        line-height: 24px !important;
        color: #252525;
        font-weight: 400 !important;
        padding: 0 18px 0 18px;

    }

    .sub-head {
        line-height: 1.2;
        font-weight: 500;
        font-size: 18px
    }


}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
