<div class="login-container">
  <div class="login-image"></div>
  <div class="login-form">
    <form [formGroup]="myForm" class="example-form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
          />
          <mat-error *ngIf="myForm.get('email')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="myForm.get('email')?.hasError('email')"
            >Invalid email format</mat-error
          >
        </mat-form-field>

        <br />

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            [type]="isShow ? 'text' : 'password'"
            matInput
            formControlName="password"
          />
          <ion-icon
            (click)="isShow = !isShow"
            matSuffix
            name="eye-off-outline"
            *ngIf="!isShow"
          ></ion-icon>
          <ion-icon
            matSuffix
            name="eye-outline"
            *ngIf="isShow"
            (click)="isShow = !isShow"
          ></ion-icon>
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="myForm.invalid"
          class="w-full"
        >
          {{ "login" | uppercase }}
        </button>
      </div>
      <div>
        <p class="text-center mt-2">
          Don't have an account?
          <strong
            class="text-blue-400 hover:text-blue-800"
            (click)="directToRegisterPage()"
            >Sign Up</strong
          >
        </p>
      </div>
    </form>
  </div>
</div>
